@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jauxnx');
  src:  url('fonts/icomoon.eot?jauxnx#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?jauxnx') format('truetype'),
  url('fonts/icomoon.woff?jauxnx') format('woff'),
  url('fonts/icomoon.svg?jauxnx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e900";
  color: #fff;
}
.icon-category:before {
  content: "\e901";
}
.icon-computer:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e903";
  color: #fff;
}
.icon-flag:before {
  content: "\e904";
  color: #fff;
}
.icon-heart1:before {
  content: "\e905";
  color: #d81e06;
}
.icon-heart2:before {
  content: "\e906";
}
.icon-infi:before {
  content: "\e907";
  color: #fff;
}
.icon-mail:before {
  content: "\e908";
}
.icon-rank:before {
  content: "\e909";
  color: #fff;
}
.icon-setting:before {
  content: "\e90a";
}
.icon-A:before {
  content: "\e92e";
}
.icon-add:before {
  content: "\e90b";
}
.icon-back:before {
  content: "\e90c";
}
.icon-book:before {
  content: "\e90d";
}
.icon-book2:before {
  content: "\e90e";
}
.icon-book3:before {
  content: "\e90f";
  color: #8a8a8a;
}
.icon-bookmark:before {
  content: "\e910";
}
.icon-bright:before {
  content: "\e911";
}
.icon-cart:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e913";
}
.icon-clock:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e915";
}
.icon-close-circle-fill:before {
  content: "\e916";
}
.icon-discovery:before {
  content: "\e917";
  color: #8a8a8a;
}
.icon-down:before {
  content: "\e918";
}
.icon-down2:before {
  content: "\e919";
}
.icon-download:before {
  content: "\e91a";
}
.icon-download-remove:before {
  content: "\e91b";
}
.icon-forward:before {
  content: "\e91c";
}
.icon-headphone:before {
  content: "\e91d";
}
.icon-menu:before {
  content: "\e91e";
}
.icon-more:before {
  content: "\e91f";
}
.icon-move:before {
  content: "\e920";
}
.icon-person:before {
  content: "\e921";
}
.icon-play_backward:before {
  content: "\e922";
}
.icon-play_forward:before {
  content: "\e923";
}
.icon-play_go:before {
  content: "\e924";
}
.icon-play_pause:before {
  content: "\e925";
}
.icon-private:before {
  content: "\e926";
}
.icon-private-see:before {
  content: "\e927";
}
.icon-profile:before {
  content: "\e928";
  color: #8a8a8a;
}
.icon-Progress-read:before {
  content: "\e929";
}
.icon-pull_down:before {
  content: "\e92a";
}
.icon-search:before {
  content: "\e92b";
}
.icon-selected:before {
  content: "\e92c";
}
.icon-settings:before {
  content: "\e92d";
}
.icon-shake:before {
  content: "\e92f";
}
.icon-share:before {
  content: "\e930";
}
.icon-shelf:before {
  content: "\e931";
}
.icon-story:before {
  content: "\e932";
  color: #8a8a8a;
}
.icon-up:before {
  content: "\e933";
}
